/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------*/

@font-face {
  font-family: odinNorse;
  src: url("/assets/Norse-Bold.otf");
}

body {
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

input {
  max-width: 150px;
  min-height: 25px;
  border-radius: 5px;
  border-color: #e5e7eb;
}

fieldset {
  display: flex;
  margin: 3vh;
  width: 40vh;
  margin-top: 15px;
  justify-content: space-between;
}

form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

legend {
  margin-left: 2.5vw;
  font-weight: bold;
  font-size: 2.5vh;
}

.left-container {
  width: 40vw;
  height: 100vh;
  background-image: url("/assets/photo-1585202900225-6d3ac20a6962.avif");
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 40vw;
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo-text {
  font-family: odinNorse;
  color: white;
  font-size: 10vh;
}

img[src] {
  max-width: 10vw;
  max-height: 10vh;
}

.right-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e8e8e8f7;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 2.5vw;
}

.description {
  margin-bottom: 2.5vh;
  font-size: 2.5vh;
}

.title {
  font-weight: bold;
}

.form-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-body {
  background-color: white;
  box-shadow: inset;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.btn-container {
  margin-left: 5vw;
}

.btn-submit {
  margin-top: 2.5vh;
  width: 150px;
  height: 4vh;
  border-radius: 5px;
  background-color: rgb(28, 112, 28);
  color: white;
  font-size: 1.5vh;
  font-weight: bolder;
}
.login-account {
  margin-top: 1vh;
}

input:focus {
  border: blue;
  border-style: outset;
  border-width: 2, 5px;
}
